<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shift Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Current Shift</h1>
        <p id="currentShift">Loading...</p>


        <h2>Team Members</h2>
        <ul id="teamList">
            {% for member in team_members %}
            <li>
                <input type="radio" name="team_member" value="{{ member.id }}" {% if member.on_shift %}checked{% endif %}>
                <input type="checkbox" class="round_robin" value="{{ member.id }}" style="display: none;" {% if member.round_robin %}checked{% endif %}>
                {{ member.name }}
            </li>
            {% endfor %}
        </ul>

        <div></div>
        <button onclick="activateShift()">Activate Shift</button>
        <button onclick="disableShift()">Disable Shift</button>
        <button onclick="deleteSelectedMember()">Delete</button>

        <h3>Round Robin</h3>
        <label class="switch">
            <input type="checkbox" id="roundRobinSwitch">
            <span class="slider round"></span>
        </label>

    <h2>Add New Member</h2>
    <form id="addMemberForm">
        <input type="text" id="name" placeholder="Name">
        <button type="submit">Add</button>
    </form>

    <script>
        // When the page loads
        $(document).ready(function() {
            // Check the stored value of the round robin switch
            if (localStorage.getItem('roundRobinSwitch') === 'false') {
                // If it's false, uncheck all checkboxes
                $('.round_robin').prop('checked', false);
            }
        });

        $("#roundRobinSwitch").change(function() {
            // Show or hide the round_robin checkboxes
            $(".round_robin").toggle();

            // When the switch is turned off, set all team members' round_robin attributes to False
            if (!$(this).is(':checked')) {
                $.post("/deactivate_round_robin", function() {
                    location.reload();
                });

                // Also uncheck all checkboxes and store the value in the local storage
                $('.round_robin').prop('checked', false);
                localStorage.setItem('roundRobinSwitch', 'false');
            } else {
                // If the switch is turned on, store this value in the local storage
                localStorage.setItem('roundRobinSwitch', 'true');
            }

            // When a checkbox is clicked, update the member's round_robin status
            $(".round_robin").change(function() {
                const memberId = $(this).val();
                const roundRobinStatus = $(this).is(':checked');
                $.post("/update_round_robin", { member_id: memberId, round_robin: roundRobinStatus });
            });
        });

        function getCurrentShift() {
            $.getJSON("/api/shift", function(data) {
                if (data.name != "None") {
                    $("#currentShift").text(data.name);
                } else {
                    $("#currentShift").text("No one is on shift.");
                }
            });
        }

        $("#addMemberForm").submit(function (event) {
            event.preventDefault();
            const name = $("#name").val();
            $.post("/add_member", { name: name }, function () {
                location.reload();
            });
        });

        function activateShift() {
            const memberId = $('input[name=team_member]:checked').val();
            $.post("/activate_shift", { member_id: memberId }, function () {
                getCurrentShift();
            });
        }

        function disableShift() {
            $.post("/disable_shift", function () {
                getCurrentShift();
            });
        }

        function deleteMember(memberId) {
            $.post("/delete_member", { member_id: memberId }, function () {
                location.reload();
            });
        }

        // Call the function to display the current shift user when the page loads
        getCurrentShift();

        function deleteSelectedMember() {
        const memberId = $('input[name=team_member]:checked').val();
        if (memberId) {
            $.post("/delete_member", { member_id: memberId }, function () {
                location.reload();
            });
        } else {
            alert("Please select a team member to delete.");
        }
}
    </script>
</body>
</html>
